@use '../var' as *;


#zippy-team .container{
    width: 60%;
    .profile{
        padding: 20px 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .img-box{
            height: 150px; 
            width: 150px; 
            border-radius: 50%; 
            opacity: 1;
            display: flex;
            justify-content:center;
            align-items: center;
            position: relative;
            &:after{
                border-radius: 50%;
                content: "";
                opacity: 0;
                background-color:rgba(164, 81, 212, 0.6);
                position: absolute;
                right:0;
                left: 0;
                top: 0;
                bottom: 0;
            }
            &:hover::after{
                opacity: 1;
                transition: 0.5s;
            }
            &:hover ul{
                opacity: 1;
                transition: 1s;
            }
            ul{
                list-style: none;
                margin: 0px;
                padding: 10px;
                position: absolute;
                z-index: 1;
                left: 3.5%;
                bottom: 30%;
                opacity: 0;
                margin-top: 10px !important;
                a{
                    margin: 5px;
                }
                li{
                    justify-content: center;
                    i{
                        color: $white;
                    }
                }
            }
        }
            .team{
                height: 150px; 
                width: 150px; 
                border-radius: 50%; 
        }
        h5{
            font-size: medium;
            color: grey;
        }
    }
}